body {
    background-color: #f3f2ef;
}
html {
    height: 100%;
}
body {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
#header {
    flex: 1
}

#top-menu-bar {
    text-align: center;
    background-color: #334455;
    color: white;
    border: 0;
    flex: 4;
}

#top-menu-bar li {
    display: inline;
    margin: 0;
    padding: 0;
    flex: 1S;
}
.cap-tabel {
    margin-left: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 40%;
}

.tabel {
    margin-left: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: 40%;
    
}
#tab {
    text-align: center;
    color: white;
    border: 0;
}

/* #tab td {
    display: inline;
    margin: 0;
    padding: 0;
} */



h1 {
    margin: 5px 0;